// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  font-size: 48px;
  color:red;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  text-align: center;
  width: 900px;
  border: 1px solid black;
  border-radius: 5px;
  padding-bottom: 10px;
}
